{
  // 设定转码规则
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"],// 转码的一些插件
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
